We are looking for card ids:
    
    1. present in historical transaction
    
    2. present in new transaction
    
    3. also has corresponding merchant information

In [1]:
import pandas as panda
import numpy as np
from collections import Counter

In [49]:
train_data = panda.read_csv('train_2.csv')
historical_data_with_merchant = panda.read_csv('hist_joined_with_merchants_data.csv')
new_data_with_merchant = panda.read_csv('new_with_merchant_aggregated.csv')
hist_data_agg = panda.read_csv('hist_with_merchant_aggregated.csv')
merchant_data = panda.read_csv('merchants_2.csv')

In [51]:
hist_data_agg.shape, hist_data_agg.card_id.unique().shape,merchant_data.shape, merchant_data.merchant_id.unique().shape,

((325540, 32), (325540,), (334696, 34), (334633,))

In [56]:
hist_data_agg.merchant_id.dtypes, merchant_data.merchant_id.dtypes

(dtype('O'), dtype('O'))

In [57]:
# result = panda.merge(hist_data_agg, merchant_data, on='merchant_id', how='inner')
# result = hist_data_agg.join(merchant_data, how='left', on='merchant_id')
result = panda.concat([hist_data_agg, merchant_data], axis=1, join ='inner')
print('before drop:', result.shape)
result.dropna(inplace=True)
print('after drop:', result.shape, result.card_id.unique().shape)

before drop: (325540, 66)
after drop: (325540, 66) (325540,)

In [58]:
historical_data_with_merchant.shape,historical_data_with_merchant.card_id.unique().shape, result.shape, result.card_id.unique().shape

((347585, 65), (325540,), (325540, 66), (325540,))

In [27]:
train_data.shape, historical_data_with_merchant.shape, new_data_with_merchant.shape

((201917, 9), (347585, 65), (289057, 32))

In [28]:
train_card_ids = set(train_data.card_id.values.tolist())
hist_card_ids = set(historical_data_with_merchant.card_id.values.tolist())
new_card_ids = set(new_data_with_merchant.card_id.values.tolist())

In [29]:
'Number of unique train card id', len(train_card_ids), \
'Number of unique hist card id', len(hist_card_ids), \
'Number of unique new card id', len(new_card_ids), \

('Number of unique train card id',
 201917,
 'Number of unique hist card id',
 325540,
 'Number of unique new card id',
 289057)

In [33]:
train_card_ids_with_new = train_card_ids.intersection(new_card_ids)
len(train_card_ids_with_new.intersection(hist_card_ids))

179400

In [34]:
train_card_ids_with_new = train_card_ids.intersection(hist_card_ids)
len(train_card_ids_with_new.intersection(new_card_ids))

179400

In [46]:
len(train_card_ids.intersection(hist_card_ids)),len(train_card_ids.intersection(new_card_ids))

(201917, 179400)

In [48]:
historical_data_with_merchant.shape, historical_data_with_merchant.card_id.unique().shape

((347585, 65), (325540,))

In [59]:
temp = panda.merge(train_data, result, on ='card_id', how='left')
print('before dropping:',temp.shape)
temp.dropna(inplace = True)
print('after dropping:',temp.shape, len(set(temp.card_id.values.tolist())))

before dropping: (201917, 74)
after dropping: (201917, 74) 201917

In [12]:
del new_data_with_merchant

In [36]:
set(temp.card_id.values.tolist()).intersection(set(new_data_with_merchant.card_id.values.tolist())).__len__()

179400

In [60]:
temp_1 = panda.merge(temp, new_data_with_merchant, on ='card_id', how='left')
print('before dropping:',temp_1.shape)
temp_1.dropna(inplace = True)
print('after dropping:',temp_1.shape)

before dropping: (201917, 105)
after dropping: (179400, 105)

In [61]:
temp_1.isnull().any().sum()

0

In [62]:
temp_1.card_id.unique().shape, temp_1.shape

((179400,), (179400, 105))

In [63]:
temp_1.to_csv('train_with_hist_new_with_merchant.csv', index = False)

In [64]:
test_data = panda.read_csv('test_2.csv')

In [65]:
test_data.shape, test_data.card_id.unique().shape

((123623, 8), (123623,))

In [68]:
len(set(test_data.card_id.values.tolist()).intersection(set(result.card_id.values.tolist()))), \
len(set(test_data.card_id.values.tolist()).intersection(set(new_data_with_merchant.card_id.values.tolist())))

(123623, 109657)

In [69]:
temp = panda.merge(test_data, result, on ='card_id', how='left')
print('before dropping:',temp.shape)
temp.dropna(inplace = True)
print('after dropping:',temp.shape, len(set(temp.card_id.values.tolist())))

before dropping: (123623, 73)
after dropping: (123623, 73) 123623

In [70]:
temp_1 = panda.merge(temp, new_data_with_merchant, on ='card_id', how='left')
print('before dropping:',temp_1.shape)
temp_1.dropna(inplace = True)
print('after dropping:',temp_1.shape)

before dropping: (123623, 104)
after dropping: (109657, 104)

In [71]:
temp_1.isnull().any().sum()

0

In [72]:
temp_1.to_csv('test_with_hist_new_with_merchant.csv', index = False)