In [1]:
from sklearn.preprocessing import RobustScaler, StandardScaler, PowerTransformer
from sklearn.model_selection import KFold,train_test_split

import time
import lightgbm as lgb
import pandas as panda
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plot
import xgboost as xgb
from xgboost.sklearn import XGBRegressor
import datetime
from sklearn.model_selection import GridSearchCV

In [10]:
train_data = panda.read_csv('train_with_only_hist_with_merchant.csv')
test_data = panda.read_csv('test_with_only_hist_with_merchant.csv')

train_data = panda.read_csv('train_with_hist_new_with_merchant.csv')
test_data = panda.read_csv('test_with_hist_new_with_merchant.csv')

In [11]:
train_data.head(1)

,card_id,target,enc_feature_1_1,enc_feature_1_2,enc_feature_1_3,enc_feature_1_4,enc_feature_1_5,months_passed,first_active_day,old_purchase_amount_sum,...,new_authorized_flag_count_authorized_one,new_authorized_flag_count_authorized_zero,new_category_1_mean,new_category_1_count_category_1_one,new_category_1_count_category_1_zero,new_enc_purchase_date_mean,new_enc_purchase_date_min,new_enc_purchase_date_max,new_enc_purchase_date_ptp,merchant_id_y
0,C_ID_92a2005557,-0.820283,0,0,0,0,1,19,1496275200000000000,-161.803556,...,23.0,0.0,0.0,0.0,23.0,1.522525e+09,1.520259e+09,1.525001e+09,4742309.0,M_ID_98b342c0e3

In [12]:
y = train_data.target
x = train_data[[i for i in train_data.columns.tolist() if i not in ['card_id','subsector_id','city_id','target','merchant_id.1','merchant_group_id','merchant_id','merchant_id_y','merchant_id_x','merchant_id_x.1','category_1','category_4']]]

In [14]:
[i for i in train_data.columns.tolist() if i.startswith('merchant_id')]

['merchant_id_x', 'merchant_id_x.1', 'merchant_id_y']

In [15]:
train_data[['card_id','merchant_id_x', 'merchant_id_x.1', 'merchant_id_y']].values

array([['C_ID_92a2005557', 'M_ID_1a81c358a3', 'M_ID_ef7c5ba88c',
        'M_ID_98b342c0e3'],
       ['C_ID_3d0044924f', 'M_ID_940fb4498f', 'M_ID_26530cd8c0',
        'M_ID_6e7c412a33'],
       ['C_ID_d639edf6cd', 'M_ID_5634fd83e0', 'M_ID_74fca63f4d',
        'M_ID_c84d28e906'],
       ...,
       ['C_ID_7666735b3d', 'M_ID_9139332ccc', 'M_ID_a0572189b7',
        'M_ID_365240c25a'],
       ['C_ID_73f5a0efd0', 'M_ID_1e1f6cc067', 'M_ID_6a8fbd7ccb',
        'M_ID_981fe24744'],
       ['C_ID_92c9984c58', 'M_ID_e5374dabc0', 'M_ID_a3c88aa066',
        'M_ID_413c7e57bc']], dtype=object)