In [1]:
import pandas as panda

import numpy as np

import datetime, time

from matplotlib.pyplot import plot

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

import seaborn as sns

import dask.dataframe as dd
from sklearn.linear_model import LinearRegression, RANSACRegressor, SGDRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.metrics import accuracy_score, mean_squared_error, r2_score, make_scorer
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline, Pipeline

In [2]:
historical_transaction_data_path = 'all/historical_transactions.csv'
new_transaction_data_path = 'all/new_merchant_transactions.csv'

In [3]:
historical_transaction_data = panda.read_csv(historical_transaction_data_path)

In [4]:
new_transaction_data = panda.read_csv(new_transaction_data_path)

In [5]:
# new_transaction_data.head()

In [6]:
all_transaction = panda.concat([new_transaction_data, historical_transaction_data])

In [7]:
# len(all_transaction)

In [8]:
# all_transaction.isnull().sum()

In [9]:
## category_3, _2 are categorical variables. replacing missing values with max appearing values for each

## not doing anything with merchant_id yet. since its alphabetical we will remove it. and for our round 2 we will not be considering
## any data from merchant .csv


all_transaction['category_2'].fillna(all_transaction.category_2.value_counts().idxmax(), inplace= True)
all_transaction['category_3'].fillna(all_transaction.category_3.value_counts().idxmax(), inplace= True)

In [10]:
# all_transaction_1.head()
# all_transaction['category_2'].isnull().sum()

In [11]:
# all_transaction['category_3'].isnull().sum()

In [12]:
## lets get the total number of transactions for each card

total_transaction = all_transaction.groupby(['card_id'])['city_id'].count()

total_transaction = total_transaction.reset_index()

total_transaction.columns = ['card_id', 'total_no_of_transaction']

total_transaction_merged = all_transaction.merge(total_transaction, how='inner', on='card_id')

print(len(total_transaction_merged), ', earlier length: ', len(all_transaction))

31075392 , earlier length:  31075392

In [13]:
## we will now add columsn for how many times a card has been rejected and how many times it has been approved

# total_transaction_merged.head()

In [14]:
temp= total_transaction_merged.authorized_flag.str.get_dummies()

In [15]:
temp.head()

   N  Y
0  0  1
1  0  1
2  0  1
3  0  1
4  0  1

In [16]:
total_transaction_merged[['N','Y']] = temp

In [17]:
tt = total_transaction_merged.groupby(['card_id'])['N'].sum()

tt = tt.reset_index()

In [18]:
tt['card_id'] = tt.card_id.apply(lambda x: x.upper().strip())
tt

                card_id   N
0       C_ID_00007093C1  35
1       C_ID_0001238066   3
2       C_ID_0001506EF0   4
3       C_ID_0001793786  27
4       C_ID_000183FDDA   7
5       C_ID_00024E244B  17
6       C_ID_0002709B5A   6
7       C_ID_00027503E2  18
8       C_ID_000298032A   2
9       C_ID_0002BA3C2E  15
10      C_ID_0002C7C2C1   9
11      C_ID_00032DF08F  20
12      C_ID_0003754056   1
13      C_ID_000377F6A0   6
14      C_ID_0003BE3C83  25
15      C_ID_0003F41435   6
16      C_ID_00042D509C  44
17      C_ID_0004587331   2
18      C_ID_0004725B87   7
19      C_ID_0004888DDD   5
20      C_ID_0004B68C49   0
21      C_ID_0004C2A5AB   3
22      C_ID_00057B99FE   2
23      C_ID_000599DAF9   2
24      C_ID_0005B2F279   0
25      C_ID_0005B5804F   0
26      C_ID_0005F16CC8  17
27      C_ID_0006152DB8  10
28      C_ID_000616F4A8   2
29      C_ID_000664AA02   0
...                 ...  ..
325510  C_ID_FFFB79FB56   0
325511  C_ID_FFFB9EA3F6  16
325512  C_ID_FFFBA72DC5   9
325513  C_ID_FFFBDF036B  19
325514  C_ID_FFFBEE5C24   2
325515  C_ID_FFFC96BF24  16
325516  C_ID_FFFCB74F49  13
325517  C_ID_FFFCF66E12   1
325518  C_ID_FFFD070E0E   6
325519  C_ID_FFFD1207A8  33
325520  C_ID_FFFD24DCF3   1
325521  C_ID_FFFD337484   3
325522  C_ID_FFFD345048  11
325523  C_ID_FFFD351E7F  21
325524  C_ID_FFFD93C8BF   7
325525  C_ID_FFFD943B91  15
325526  C_ID_FFFDAD8AA0   7
325527  C_ID_FFFDE15AB6  10
325528  C_ID_FFFDF34798   0
325529  C_ID_FFFE29A04A   3
325530  C_ID_FFFE78B232  11
325531  C_ID_FFFE866457   3
325532  C_ID_FFFEA6DE74   8
325533  C_ID_FFFECED303  22
325534  C_ID_FFFEED3A89   3
325535  C_ID_FFFF1D9928   3
325536  C_ID_FFFF579D3A  15
325537  C_ID_FFFF756266  10
325538  C_ID_FFFF828181  24
325539  C_ID_FFFFFD5772   9

[325540 rows x 2 columns]

In [19]:
total_transaction_merged['card_id'] = total_transaction_merged.card_id.apply(lambda x: x.upper().strip())

# total_transaction_merged

In [20]:
no_count_merged = total_transaction_merged.merge(tt, how='left', on='card_id')

In [21]:

# total_transaction_merged = total_transaction_merged[[i for i in total_transaction_merged.columns.tolist() if i not in ['N','Y']]]
# no_count_merged_1 = total_transaction_merged[[i for i in total_transaction_merged.columns.tolist() if i not in ['N','Y']]].merge(tt, how='left', on='card_id')

In [22]:
tt.head()

           card_id   N
0  C_ID_00007093C1  35
1  C_ID_0001238066   3
2  C_ID_0001506EF0   4
3  C_ID_0001793786  27
4  C_ID_000183FDDA   7

In [23]:
len(total_transaction_merged)

31075392

In [24]:
no_count_merged['total_rejects'] = no_count_merged['N_y']

In [25]:
no_count_merged['total_accepted'] = no_count_merged['total_no_of_transaction'] -no_count_merged['total_rejects']

In [26]:
# no_count_merged.head()

##### at this point we have total no of transactions, total no of rejected and total no of approved transactions

##### we would want another column that says total purchase amount

In [27]:
# historical_store = panda.HDFStore('all/yes_no_total_added.h5')
# historical_store['df'] = no_count_merged
no_count_merged.to_csv('all/yes_no_merged.csv')
# no_count_merged[0:25000].to_pickle('all/yes_no_merged_25000.pkl')

In [28]:
# no_count_merged[25000:300000].to_pickle('all/yes_no_merged_300000.pkl')

In [29]:
# no_count_merged[300000:1000000].to_pickle('all/yes_no_merged_1mil.pkl')

In [30]:
# no_count_merged[1000000:2000000].to_pickle('all/yes_no_merged_2mil.pkl')

In [31]:
# no_count_merged[2000000:3000000].to_pickle('all/yes_no_merged_3mil.pkl')

In [32]:
# no_count_merged[2000000:2000000].to_pickle('all/yes_no_merged_4mil.pkl')