We have noticed there are many rows in new transaction data in which merchant id is blank.
We have also noticed that for the combination of 'merchant_category_id','state_id','city_id','subsector_id','category_1'
there are no unique merchant id that we can find in merchants data

Now considering that merchant id is string value, and will not end up in the final model data set,we are going to do below:

1. group merchants data by 'merchant_category_id','state_id','city_id','subsector_id','category_1'
2. take aggregate on the other columns 
3. keep that data ready to be joined with new transaction data and historical transactions


Note: the merchant data that we are taking here is a feature engineered merchant data where we have already filled in missing data , and we have also performed some aggregations and performed one hot encoding on categorical data

In [24]:
import pandas as panda
import numpy as np
from collections import Counter

In [2]:
new_transaction_path = 'C:/Users/somak/Documents/somak_python/real_world_use_cases_1/supervised/regression/kaggle/elo/all/new_merchant_transactions.csv'
merchants_data_path = 'all_new/merchants_1.csv'

In [18]:
# new_transaction_data = panda.read_csv(new_transaction_path)
merchant_data = panda.read_csv(merchants_data_path)

In [21]:

## check if null values are present in any of the group by columns 'merchant_category_id','state_id','city_id','subsector_id','category_1'
merchant_data[['merchant_category_id','state_id','city_id','subsector_id','category_1']].isnull().any()

merchant_category_id    False
state_id                False
city_id                 False
subsector_id            False
category_1              False
dtype: bool

In [44]:
merchant_data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
merchant_id,334696,334633,M_ID_dbbf07ebf0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
merchant_group_id,334696,NaN,NaN,NaN,31028.7,31623,1,3612,19900,51707.2,112586
merchant_category_id,334696,NaN,NaN,NaN,423.132,252.898,-1,222,373,683,891
subsector_id,334696,NaN,NaN,NaN,25.1165,9.80727,1,19,27,33,41
numerical_1,334696,NaN,NaN,NaN,0.0114764,1.09815,-0.0574706,-0.0574706,-0.0574706,-0.0475558,183.735
numerical_2,334696,NaN,NaN,NaN,0.00810311,1.0705,-0.0574706,-0.0574706,-0.0574706,-0.0475558,182.079
category_1,334696,2,N,327657,NaN,NaN,NaN,NaN,NaN,NaN,NaN
avg_sales_lag3,334696,NaN,NaN,NaN,13.833,2395.44,-82.13,0.88,1,1.16,851845
avg_purchases_lag3,334696,NaN,NaN,NaN,2.14514,213.956,0.333495,0.92365,1.01667,1.14652,61851.3
active_months_lag3,334696,NaN,NaN,NaN,2.99411,0.0952475,1,3,3,3,3
avg_sales_lag6,334696,NaN,NaN,NaN,21.6508,3947.03,-82.13,0.85,1.01,1.23,1.51396e+06
avg_purchases_lag6,334696,NaN,NaN,NaN,2.39019,194.324,0.167045,0.902247,1.02696,1.21558,56077.5
active_months_lag6,334696,NaN,NaN,NaN,5.9474,0.394936,1,6,6,6,6
avg_sales_lag12,334696,NaN,NaN,NaN,25.2277,5251.74,-82.13,0.85,1.02,1.29,2.56741e+06
avg_purchases_lag12,334696,NaN,NaN,NaN,2.52928,174.419,0.0983295,0.898333,1.04336,1.26648,50215.6
active_months_lag12,334696,NaN,NaN,NaN,11.5993,1.52014,1,12,12,12,12
category_4,334696,2,N,238596,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city_id,334696,NaN,NaN,NaN,102.918,107.091,-1,-1,69,182,347
state_id,334696,NaN,NaN,NaN,12.2161,5.69597,1,9,9,16,24
category_2,334696,NaN,NaN,NaN,2.33099,1.55577,1,1,1,4,5
merchant_category_1_yes,334696,NaN,NaN,NaN,0.021031,0.143488,0,0,0,0,1
merchant_category_1_no,334696,NaN,NaN,NaN,0.978969,0.143488,0,1,1,1,1
merchant_category_4_yes,334696,NaN,NaN,NaN,0.287126,0.452422,0,0,0,1,1
merchant_category_4_no,334696,NaN,NaN,NaN,0.712874,0.452422,0,0,1,1,1
most_sales_range_E,334696,NaN,NaN,NaN,0.529149,0.49915,0,0,1,1,1
most_sales_range_D,334696,NaN,NaN,NaN,0.35099,0.477281,0,0,0,1,1
most_sales_range_C,334696,NaN,NaN,NaN,0.101809,0.302397,0,0,0,0,1
most_sales_range_B,334696,NaN,NaN,NaN,0.0150495,0.12175,0,0,0,0,1
most_sales_range_A,334696,NaN,NaN,NaN,0.00300272,0.0547149,0,0,0,0,1
most_recent_purchases_range_E,334696,NaN,NaN,NaN,0.523786,0.499435,0,0,1,1,1
most_recent_purchases_range_D,334696,NaN,NaN,NaN,0.356105,0.478848,0,0,0,1,1
most_recent_purchases_range_C,334696,NaN,NaN,NaN,0.102015,0.302668,0,0,0,0,1
most_recent_purchases_range_B,334696,NaN,NaN,NaN,0.0150764,0.121857,0,0,0,0,1
most_recent_purchases_range_A,334696,NaN,NaN,NaN,0.00301766,0.0548504,0,0,0,0,1

In [23]:
merchant_dtypes = merchant_data.dtypes.to_frame().reset_index()
merchant_dtypes.columns = ['col_name','col_type']
merchant_dtypes

                         col_name col_type
0                     merchant_id   object
1               merchant_group_id    int64
2            merchant_category_id    int64
3                    subsector_id    int64
4                     numerical_1  float64
5                     numerical_2  float64
6                      category_1   object
7                  avg_sales_lag3  float64
8              avg_purchases_lag3  float64
9              active_months_lag3    int64
10                 avg_sales_lag6  float64
11             avg_purchases_lag6  float64
12             active_months_lag6    int64
13                avg_sales_lag12  float64
14            avg_purchases_lag12  float64
15            active_months_lag12    int64
16                     category_4   object
17                        city_id    int64
18                       state_id    int64
19                     category_2  float64
20        merchant_category_1_yes    int64
21         merchant_category_1_no    int64
22        merchant_category_4_yes    int64
23         merchant_category_4_no    int64
24             most_sales_range_E    int64
25             most_sales_range_D    int64
26             most_sales_range_C    int64
27             most_sales_range_B    int64
28             most_sales_range_A    int64
29  most_recent_purchases_range_E    int64
30  most_recent_purchases_range_D    int64
31  most_recent_purchases_range_C    int64
32  most_recent_purchases_range_B    int64
33  most_recent_purchases_range_A    int64

In [37]:
merchant_data.avg_purchases_lag3.isnull().sum(),\
merchant_data[merchant_data.avg_purchases_lag3==np.inf].avg_purchases_lag3.any(),\
merchant_data[merchant_data.avg_purchases_lag6==np.inf].avg_purchases_lag6.any(),\
merchant_data[merchant_data.avg_purchases_lag12==np.inf].avg_purchases_lag12.any()

(0, True, True, True)

In [41]:
## replacing infinite numbers with max of avg purchase sales
max_avg_purchase_3 = merchant_data[merchant_data.avg_purchases_lag3!=np.inf].avg_purchases_lag3.max()
max_avg_purchase_6 = merchant_data[merchant_data.avg_purchases_lag6!=np.inf].avg_purchases_lag6.max()
max_avg_purchase_12 = merchant_data[merchant_data.avg_purchases_lag12!=np.inf].avg_purchases_lag12.max()
max_avg_purchase_3,max_avg_purchase_6,max_avg_purchase_12

(61851.33333333, 56077.5, 50215.55555556)

In [43]:
merchant_data.avg_purchases_lag3.replace(np.inf, max_avg_purchase_3, inplace=True)
merchant_data.avg_purchases_lag6.replace(np.inf, max_avg_purchase_6, inplace=True)
merchant_data.avg_purchases_lag12.replace(np.inf, max_avg_purchase_12, inplace=True)
merchant_data[merchant_data.avg_purchases_lag3==np.inf].avg_purchases_lag3.any(),\
merchant_data[merchant_data.avg_purchases_lag6==np.inf].avg_purchases_lag6.any(),\
merchant_data[merchant_data.avg_purchases_lag12==np.inf].avg_purchases_lag12.any()

(False, False, False)

In [91]:
def most_frequent_merchant_id(x):
    c = Counter(x)
    return c.most_common()[0][0]

def most_frequent_merchant_group_id(x):
    c = Counter(x)
    return c.most_common()[0][0]


aggregate ={
    
    
    'merchant_group_id':['nunique'],
    'merchant_id':['nunique',most_frequent_merchant_id],
    'numerical_1'      :['sum','mean','max','min'],
    'numerical_2'      :['sum','mean','max','min'],
    'avg_sales_lag3'   :['sum','mean','max','min'],
    'avg_purchases_lag3':['sum','mean','max','min'],
    'active_months_lag3':['sum','mean','max','min'],
    'avg_sales_lag6':['sum','mean','max','min'],
    'avg_purchases_lag6':['sum','mean','max','min'],
    'active_months_lag6':['sum','mean','max','min'],
    'avg_sales_lag12':['sum','mean','max','min'],
    'avg_purchases_lag12':['sum','mean','max','min'],
    'active_months_lag12':['sum','mean','max','min'],
    'merchant_category_1_yes':['sum'],
    'merchant_category_1_no':['sum'],
    'merchant_category_4_yes':['sum'],
    'merchant_category_4_no':['sum'],
    'most_sales_range_E':['sum'],
    'most_sales_range_D':['sum'],
    'most_sales_range_C':['sum'],
    'most_sales_range_B':['sum'],
    'most_sales_range_A':['sum'],
    'most_recent_purchases_range_E':['sum'],
    'most_recent_purchases_range_D':['sum'],
    'most_recent_purchases_range_C':['sum'],
    'most_recent_purchases_range_B':['sum'],
    'most_recent_purchases_range_A':['sum'],
    
    
    
}

In [92]:
t = merchant_data.groupby(['merchant_category_id','state_id','city_id','subsector_id','category_1']).agg(aggregate)

In [93]:
t.reset_index(inplace = True)
t.head()

  merchant_category_id state_id city_id subsector_id category_1  \

0                   -1        9     231           27          N
1                    2        1      -1           20          N
2                    2        1     246           20          N
3                    2        2      -1           20          N
4                    2        2      76           20          N

  merchant_group_id merchant_id                           numerical_1  \
            nunique     nunique most_frequent_merchant_id         sum
0                 1           1           M_ID_a2cfe4149a   -0.047556
1                 4           4           M_ID_eeba19250e    0.037820
2                 4           4           M_ID_628321e5da    0.027905
3                 4           4           M_ID_0284e321ff    0.672374
4                15          15           M_ID_6ef27dc5bd   -0.148187

                         ...              most_sales_range_E  \
       mean              ...                             sum
0 -0.047556              ...                               1
1  0.009455              ...                               1
2  0.006976              ...                               1
3  0.168093              ...                               3
4 -0.009879              ...                               4

  most_sales_range_D most_sales_range_C most_sales_range_B most_sales_range_A  \
                 sum                sum                sum                sum
0                  0                  0                  0                  0
1                  3                  0                  0                  0
2                  3                  0                  0                  0
3                  0                  1                  0                  0
4                  7                  4                  0                  0

  most_recent_purchases_range_E most_recent_purchases_range_D  \
                            sum                           sum
0                             1                             0
1                             2                             2
2                             2                             2
3                             3                             1
4                             4                            11

  most_recent_purchases_range_C most_recent_purchases_range_B  \
                            sum                           sum
0                             0                             0
1                             0                             0
2                             0                             0
3                             0                             0
4                             0                             0

  most_recent_purchases_range_A
                            sum
0                             0
1                             0
2                             0
3                             0
4                             0

[5 rows x 66 columns]

In [94]:
t.columns = ['_'.join(i) for i in t.columns.tolist()]
t.head()

,merchant_category_id_,state_id_,city_id_,subsector_id_,category_1_,merchant_group_id_nunique,merchant_id_nunique,merchant_id_most_frequent_merchant_id,numerical_1_sum,numerical_1_mean,...,most_sales_range_E_sum,most_sales_range_D_sum,most_sales_range_C_sum,most_sales_range_B_sum,most_sales_range_A_sum,most_recent_purchases_range_E_sum,most_recent_purchases_range_D_sum,most_recent_purchases_range_C_sum,most_recent_purchases_range_B_sum,most_recent_purchases_range_A_sum
0,-1,9,231,27,N,1,1,M_ID_a2cfe4149a,-0.047556,-0.047556,...,1,0,0,0,0,1,0,0,0,0
1,2,1,-1,20,N,4,4,M_ID_eeba19250e,0.037820,0.009455,...,1,3,0,0,0,2,2,0,0,0
2,2,1,246,20,N,4,4,M_ID_628321e5da,0.027905,0.006976,...,1,3,0,0,0,2,2,0,0,0
3,2,2,-1,20,N,4,4,M_ID_0284e321ff,0.672374,0.168093,...,3,0,1,0,0,3,1,0,0,0
4,2,2,76,20,N,15,15,M_ID_6ef27dc5bd,-0.148187,-0.009879,...,4,7,4,0,0,4,11,0,0,0

In [95]:
t.columns = list(map(lambda x: x[:len(x)-1] if x.endswith('_') else x, t.columns.tolist()))

In [96]:
t.head()

,merchant_category_id,state_id,city_id,subsector_id,category_1,merchant_group_id_nunique,merchant_id_nunique,merchant_id_most_frequent_merchant_id,numerical_1_sum,numerical_1_mean,...,most_sales_range_E_sum,most_sales_range_D_sum,most_sales_range_C_sum,most_sales_range_B_sum,most_sales_range_A_sum,most_recent_purchases_range_E_sum,most_recent_purchases_range_D_sum,most_recent_purchases_range_C_sum,most_recent_purchases_range_B_sum,most_recent_purchases_range_A_sum
0,-1,9,231,27,N,1,1,M_ID_a2cfe4149a,-0.047556,-0.047556,...,1,0,0,0,0,1,0,0,0,0
1,2,1,-1,20,N,4,4,M_ID_eeba19250e,0.037820,0.009455,...,1,3,0,0,0,2,2,0,0,0
2,2,1,246,20,N,4,4,M_ID_628321e5da,0.027905,0.006976,...,1,3,0,0,0,2,2,0,0,0
3,2,2,-1,20,N,4,4,M_ID_0284e321ff,0.672374,0.168093,...,3,0,1,0,0,3,1,0,0,0
4,2,2,76,20,N,15,15,M_ID_6ef27dc5bd,-0.148187,-0.009879,...,4,7,4,0,0,4,11,0,0,0

In [97]:
t.describe(include='all').T.head(40)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
merchant_category_id,46421,NaN,NaN,NaN,434.293,244.823,-1,225,420,645,891
state_id,46421,NaN,NaN,NaN,12.5006,5.75688,1,9,12,16,24
city_id,46421,NaN,NaN,NaN,152.302,108.765,-1,51,153,248,347
subsector_id,46421,NaN,NaN,NaN,21.7868,10.7581,1,12,25,29,41
category_1,46421,2,N,46154,NaN,NaN,NaN,NaN,NaN,NaN,NaN
merchant_group_id_nunique,46421,NaN,NaN,NaN,7.10594,37.0483,1,1,2,4,2794
merchant_id_nunique,46421,NaN,NaN,NaN,7.20868,37.6229,1,1,2,4,2886
merchant_id_most_frequent_merchant_id,46421,46421,M_ID_816e6ced72,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
numerical_1_sum,46421,NaN,NaN,NaN,0.0827448,2.13859,-82.4981,-0.0831778,-0.045537,0.0218486,139.487
numerical_1_mean,46421,NaN,NaN,NaN,0.00550269,0.135858,-0.0574707,-0.0475558,-0.0268997,0.0119337,9.10886
numerical_1_max,46421,NaN,NaN,NaN,0.388734,2.91347,-0.0574706,-0.0376408,0.0119337,0.170572,183.735
numerical_1_min,46421,NaN,NaN,NaN,-0.0317661,0.0969004,-0.0574706,-0.0574706,-0.0574706,-0.0376408,3.96798
numerical_2_sum,46421,NaN,NaN,NaN,0.0584235,2.04302,-85.2941,-0.0851966,-0.0475558,0.0218486,135.849
numerical_2_mean,46421,NaN,NaN,NaN,0.0038075,0.132101,-0.0574707,-0.0475558,-0.0277259,0.0099507,8.29584
numerical_2_max,46421,NaN,NaN,NaN,0.381582,2.83975,-0.0574706,-0.0376408,0.0119337,0.160657,182.079
numerical_2_min,46421,NaN,NaN,NaN,-0.0323144,0.0953107,-0.0574706,-0.0574706,-0.0574706,-0.0376408,3.88866
avg_sales_lag3_sum,46421,NaN,NaN,NaN,99.7361,6437.83,-29.58,1.12,2.17,5.69,851852
avg_sales_lag3_mean,46421,NaN,NaN,NaN,12.9859,869.406,-0.643043,0.943333,1.085,1.35,106482
avg_sales_lag3_max,46421,NaN,NaN,NaN,92.0384,6431.52,0.33,1.02,1.25,1.9,851845
avg_sales_lag3_min,46421,NaN,NaN,NaN,2.97707,270.526,-82.13,0.72,0.89,1.09,44436
avg_purchases_lag3_sum,46421,NaN,NaN,NaN,15.4665,578.352,0.338852,1.10714,2.11111,5.38916,61940.8
avg_purchases_lag3_mean,46421,NaN,NaN,NaN,1.64512,38.6927,0.338852,0.975309,1.08333,1.27228,7732.38
avg_purchases_lag3_max,46421,NaN,NaN,NaN,8.31153,574.437,0.338852,1.03256,1.21212,1.66667,61851.3
avg_purchases_lag3_min,46421,NaN,NaN,NaN,1.10228,7.99343,0.333495,0.796296,0.9375,1.08889,1690
active_months_lag3_sum,46421,NaN,NaN,NaN,21.5876,112.741,1,3,6,12,8644
active_months_lag3_mean,46421,NaN,NaN,NaN,2.99192,0.0913751,1,3,3,3,3
active_months_lag3_max,46421,NaN,NaN,NaN,2.99582,0.0805503,1,3,3,3,3
active_months_lag3_min,46421,NaN,NaN,NaN,2.96437,0.234978,1,3,3,3,3
avg_sales_lag6_sum,46421,NaN,NaN,NaN,156.102,10605.6,-30.38,1.18,2.35,6.4,1.51396e+06
avg_sales_lag6_mean,46421,NaN,NaN,NaN,24.5593,2115.54,-0.660435,0.955,1.15,1.53813,378491
avg_sales_lag6_max,46421,NaN,NaN,NaN,146.887,10597.2,0.19,1.05,1.37,2.35,1.51396e+06
avg_sales_lag6_min,46421,NaN,NaN,NaN,4.3755,486.399,-82.13,0.67,0.89,1.15,93735
avg_purchases_lag6_sum,46421,NaN,NaN,NaN,17.2333,529.433,0.1766,1.15909,2.25,5.95002,56172.9
avg_purchases_lag6_mean,46421,NaN,NaN,NaN,1.85686,35.8647,0.1766,0.983333,1.13537,1.41667,7010.77
avg_purchases_lag6_max,46421,NaN,NaN,NaN,9.21547,521.529,0.1766,1.05753,1.30667,2,56077.5
avg_purchases_lag6_min,46421,NaN,NaN,NaN,1.17943,10.0083,0.167045,0.754902,0.932222,1.13686,2113.17
active_months_lag6_sum,46421,NaN,NaN,NaN,42.8808,224.145,1,6,12,24,17188
active_months_lag6_mean,46421,NaN,NaN,NaN,5.93669,0.358169,1,6,6,6,6
active_months_lag6_max,46421,NaN,NaN,NaN,5.96732,0.318922,1,6,6,6,6
active_months_lag6_min,46421,NaN,NaN,NaN,5.74893,0.870488,1,6,6,6,6

In [98]:
t.describe(include='all').T.tail(40)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
active_months_lag3_max,46421,NaN,NaN,NaN,2.99582,0.0805503,1,3,3,3,3
active_months_lag3_min,46421,NaN,NaN,NaN,2.96437,0.234978,1,3,3,3,3
avg_sales_lag6_sum,46421,NaN,NaN,NaN,156.102,10605.6,-30.38,1.18,2.35,6.4,1.51396e+06
avg_sales_lag6_mean,46421,NaN,NaN,NaN,24.5593,2115.54,-0.660435,0.955,1.15,1.53813,378491
avg_sales_lag6_max,46421,NaN,NaN,NaN,146.887,10597.2,0.19,1.05,1.37,2.35,1.51396e+06
avg_sales_lag6_min,46421,NaN,NaN,NaN,4.3755,486.399,-82.13,0.67,0.89,1.15,93735
avg_purchases_lag6_sum,46421,NaN,NaN,NaN,17.2333,529.433,0.1766,1.15909,2.25,5.95002,56172.9
avg_purchases_lag6_mean,46421,NaN,NaN,NaN,1.85686,35.8647,0.1766,0.983333,1.13537,1.41667,7010.77
avg_purchases_lag6_max,46421,NaN,NaN,NaN,9.21547,521.529,0.1766,1.05753,1.30667,2,56077.5
avg_purchases_lag6_min,46421,NaN,NaN,NaN,1.17943,10.0083,0.167045,0.754902,0.932222,1.13686,2113.17
active_months_lag6_sum,46421,NaN,NaN,NaN,42.8808,224.145,1,6,12,24,17188
active_months_lag6_mean,46421,NaN,NaN,NaN,5.93669,0.358169,1,6,6,6,6
active_months_lag6_max,46421,NaN,NaN,NaN,5.96732,0.318922,1,6,6,6,6
active_months_lag6_min,46421,NaN,NaN,NaN,5.74893,0.870488,1,6,6,6,6
avg_sales_lag12_sum,46421,NaN,NaN,NaN,181.892,14107.9,-24.19,1.2,2.41,6.72,2.56741e+06
avg_sales_lag12_mean,46421,NaN,NaN,NaN,31.3711,3216.93,-0.52587,0.964286,1.18,1.62,641853
avg_sales_lag12_max,46421,NaN,NaN,NaN,171.657,14100.6,0.14,1.07,1.43,2.53,2.56741e+06
avg_sales_lag12_min,46421,NaN,NaN,NaN,5.14216,572.338,-82.13,0.65,0.88,1.17,93735
avg_purchases_lag12_sum,46421,NaN,NaN,NaN,18.2361,479.761,0.165544,1.16931,2.29928,6.22739,50334
avg_purchases_lag12_mean,46421,NaN,NaN,NaN,1.95739,33.0049,0.165544,0.985504,1.15852,1.48551,6278.26
avg_purchases_lag12_max,46421,NaN,NaN,NaN,9.56955,467.949,0.165544,1.06422,1.34722,2.16667,50215.6
avg_purchases_lag12_min,46421,NaN,NaN,NaN,1.20595,11.0088,0.0983295,0.734003,0.927083,1.14962,2326.89
active_months_lag12_sum,46421,NaN,NaN,NaN,83.6314,438.652,1,12,24,48,33737
active_months_lag12_mean,46421,NaN,NaN,NaN,11.5481,1.30881,1,11.8571,12,12,12
active_months_lag12_max,46421,NaN,NaN,NaN,11.7672,1.18485,1,12,12,12,12
active_months_lag12_min,46421,NaN,NaN,NaN,10.5912,2.79253,1,11,12,12,12
merchant_category_1_yes_sum,46421,NaN,NaN,NaN,0.151634,4.75862,0,0,0,0,734
merchant_category_1_no_sum,46421,NaN,NaN,NaN,7.05838,37.3533,0,1,2,4,2886
merchant_category_4_yes_sum,46421,NaN,NaN,NaN,2.07018,22.2949,0,0,0,0,1827
merchant_category_4_no_sum,46421,NaN,NaN,NaN,5.13983,30.4434,0,1,1,3,2886
most_sales_range_E_sum,46421,NaN,NaN,NaN,3.81517,17.487,0,1,1,2,988
most_sales_range_D_sum,46421,NaN,NaN,NaN,2.53064,16.4542,0,0,1,2,1197
most_sales_range_C_sum,46421,NaN,NaN,NaN,0.734043,5.90341,0,0,0,0,565
most_sales_range_B_sum,46421,NaN,NaN,NaN,0.108507,0.92972,0,0,0,0,110
most_sales_range_A_sum,46421,NaN,NaN,NaN,0.0216497,0.291309,0,0,0,0,26
most_recent_purchases_range_E_sum,46421,NaN,NaN,NaN,3.7765,15.3325,0,1,1,3,899
most_recent_purchases_range_D_sum,46421,NaN,NaN,NaN,2.56752,18.4215,0,0,0,1,1417
most_recent_purchases_range_C_sum,46421,NaN,NaN,NaN,0.735529,8.07686,0,0,0,0,725
most_recent_purchases_range_B_sum,46421,NaN,NaN,NaN,0.108701,1.04697,0,0,0,0,121
most_recent_purchases_range_A_sum,46421,NaN,NaN,NaN,0.0217574,0.312252,0,0,0,0,31

In [99]:
temp=t.isnull().sum().to_frame().reset_index()
temp.columns = ['col_name','count_']
temp.loc[temp.count_>0]

Empty DataFrame
Columns: [col_name, count_]
Index: []

In [100]:
t.shape, merchant_data.shape

((46421, 66), (334696, 34))

In [101]:
t.to_csv('all_new/agg_merchants_1.csv', index=False)