# RE RE FEATURE ENGINEERING OF DATA-not touching empty in test and train

In [1]:
import numpy as np
import pandas as panda
from dateutil import relativedelta
import datetime

In [11]:
train_data_path = 'C:/somak/real_world_use_cases_1/supervised/regression/kaggle/elo/all_new/train_2.csv'
test_data_path = 'C:/somak/real_world_use_cases_1/supervised/regression/kaggle/elo/all_new/test_2.csv'
new_treated_transaction_path = 'all_new/treated_new_transaction.csv'
# treated_historical_transaction_path = 'all_new/treated_historical_transactions_1.csv'

In [12]:
train_data = panda.read_csv(train_data_path)
train_data_types = train_data.dtypes
train_data_columns ={}
for index, name in enumerate(train_data.columns.tolist()):
    train_data_columns[name] = train_data_types[index]
train_data_columns

{'card_id': dtype('O'),
 'target': dtype('float64'),
 'enc_feature_1_1': dtype('int64'),
 'enc_feature_1_2': dtype('int64'),
 'enc_feature_1_3': dtype('int64'),
 'enc_feature_1_4': dtype('int64'),
 'enc_feature_1_5': dtype('int64'),
 'months_passed': dtype('int64'),
 'first_active_day': dtype('int64')}

In [14]:
del train_data

NameError: name 'train_data' is not defined

In [15]:

## simply passed the columns to reduce memory footprint
train_data = panda.read_csv(train_data_path, dtype = train_data_columns)

In [16]:
train_data.head()

,card_id,target,enc_feature_1_1,enc_feature_1_2,enc_feature_1_3,enc_feature_1_4,enc_feature_1_5,months_passed,first_active_day
0,C_ID_92a2005557,-0.820283,0,0,0,0,1,19,1496275200000000000
1,C_ID_3d0044924f,0.392913,0,0,0,1,0,24,1483228800000000000
2,C_ID_d639edf6cd,0.688056,0,1,0,0,0,29,1470009600000000000
3,C_ID_186d6a6901,0.142495,0,0,0,1,0,16,1504224000000000000
4,C_ID_cdbd2c0db2,-0.159749,1,0,0,0,0,14,1509494400000000000

In [17]:
agg = panda.read_csv(new_treated_transaction_path)
d_type = agg.dtypes
d_cols = {}
for index, name in enumerate(agg.columns.tolist()):
    d_cols[name] = d_type[index]

del agg

agg = panda.read_csv(new_treated_transaction_path, dtype = d_cols)
agg.head()

,card_id,purchase_amount_sum,purchase_amount_mean,purchase_amount_max,month_lag_sum,month_lag_mean,month_lag_max,enc_category_2_1_sum,enc_category_2_2_sum,enc_category_2_3_sum,...,installments_max,authorized_flag_mean,authorized_flag_count_authorized_one,authorized_flag_count_authorized_zero,category_1_mean,category_1_count_category_1_one,category_1_count_category_1_zero,enc_purchase_date_mean,enc_purchase_date_min,enc_purchase_date_max
0,C_ID_00007093c1,-1.328524,-0.664262,-0.656749,4,2.000000,2,1,0,1,...,1,1,2,0,0.000000,0,2,1.523023e+09,1.522754e+09,1.523291e+09
1,C_ID_0001238066,-14.850055,-0.571156,-0.078318,35,1.346154,2,23,0,0,...,10,1,26,0,0.076923,2,24,1.522335e+09,1.519923e+09,1.525118e+09
2,C_ID_0001506ef0,-1.447354,-0.723677,-0.715352,2,1.000000,1,0,0,2,...,0,1,2,0,0.000000,0,2,1.521474e+09,1.521239e+09,1.521710e+09
3,C_ID_0001793786,-0.229620,-0.007407,3.129932,41,1.322581,2,17,8,5,...,0,1,31,0,0.000000,0,31,1.512327e+09,1.510761e+09,1.514742e+09
4,C_ID_000183fdda,-6.590778,-0.599162,-0.107680,14,1.272727,2,0,0,11,...,4,1,11,0,0.000000,0,11,1.521578e+09,1.519994e+09,1.525100e+09

In [18]:
len(train_data),len(agg), len(set(agg.card_id.values.tolist()).intersection(set(train_data.card_id.values.tolist())))

(201917, 290001, 179986)

In [28]:
tt = agg.merge(train_data, on='card_id', how='right')

In [10]:
# tt.fillna(value = tt.mean(), inplace=True)

In [29]:
len(tt)

201917

In [30]:
tt.to_csv('all_new/train_6.csv', index=False)

In [31]:
test_data = panda.read_csv(test_data_path)
test_data_types = test_data.dtypes
test_data_columns ={}
for index, name in enumerate(test_data.columns.tolist()):
    test_data_columns[name] = test_data_types[index]
test_data_columns

{'card_id': dtype('O'),
 'enc_feature_1_1': dtype('int64'),
 'enc_feature_1_2': dtype('int64'),
 'enc_feature_1_3': dtype('int64'),
 'enc_feature_1_4': dtype('int64'),
 'enc_feature_1_5': dtype('int64'),
 'months_passed': dtype('int64'),
 'first_active_day': dtype('int64')}

In [32]:
del test_data

In [33]:

## simply passed the columns to reduce memory footprint
test_data = panda.read_csv(test_data_path, dtype = test_data_columns)

In [34]:
test_data.head()

,card_id,enc_feature_1_1,enc_feature_1_2,enc_feature_1_3,enc_feature_1_4,enc_feature_1_5,months_passed,first_active_day
0,C_ID_0ab67a22ab,0,0,1,0,0,21,1491004800000000000
1,C_ID_130fd0cbdd,0,1,0,0,0,24,1483228800000000000
2,C_ID_b709037bc5,0,0,0,0,1,17,1501545600000000000
3,C_ID_d27d835a9f,0,1,0,0,0,13,1512086400000000000
4,C_ID_2b5e3df5c2,0,0,0,0,1,37,1448928000000000000

In [35]:
len(test_data),len(agg), len(set(agg.card_id.values.tolist()).intersection(set(test_data.card_id.values.tolist())))

(123623, 290001, 110015)

In [36]:
tt = agg.merge(test_data, on='card_id', how='right')

In [17]:
# tt.fillna(value = tt.mean(), inplace=True)

In [37]:
len(set(tt.card_id.values))

123623

In [38]:
tt.to_csv('all_new/test_6.csv', index=False)